/* Estilos personalizados */
.card-horizontal {
    display: flex;
    flex-direction: row;
    
}

.card-img-left {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-body {
    flex: 1;
}

.borde-solicitada {
    border: 2px solid rgb(240, 240, 60);
}

.borde-por-pagar {
    border: 2px solid rgb(243, 135, 27);
}

.borde-en-proceso {
    border: 2px solid green;
}

.borde-terminada {
    border: 2px solid rgb(6, 49, 189);
}
