    <!-- Sección de Búsqueda -->
    <section class="container mb-5">
        <div class="row">
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Buscar por servicio, etiqueta o artista" aria-label="Buscar" style="width: 100%;">
            </div>
            <div class="col-md-4 d-flex justify-content-end">
                <button class="btn btn-primary me-2">Buscar</button>
                <button class="btn btn-secondary me-2" data-bs-toggle="collapse" data-bs-target="#advancedSearch">Filtros</button>
                <button class="btn btn-success">Mostrar disponibles</button>
            </div>
        </div>
        <div class="collapse" id="advancedSearch">
            <div class="row mt-3">
                <div class="col-md-4">
                    <select class="form-select" aria-label="Servicios">
                        <option selected disabled class="option-hiden">Servicios</option>
                        {% for servicio in servicios %}
                            <option value="">{{ servicio.titulo }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-select" aria-label="Etiquetas">
                        <option selected disabled class="option-hiden">Etiquetas</option>
                        {% for etiqueta in etiquetas %}
                            <option value="">{{ etiqueta }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-select" aria-label="Artistas">
                        <option selected disabled class="option-hiden">Artistas</option>
                        {% for usuario in usuarios %}
                            {% if usuario.es_artista() %}
                                <option value="">{{ usuario.nombre }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </section>


