{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="../static/css/chat.css">
    <link rel="stylesheet" href="../static/css/mensaje.css">
{% endblock %}

{% block content %}
    <div class="text-center mb-3 continer-fluid ms-4 me-4">
        <div class="row ms-0 me-0">
            <div class="col-6 offset-md-3">
                {% if g.id_cuenta == chat.artista.id %}
                    <h2>Chat de {{ chat.cliente.nombre }}</h2>
                {% elif g.id_cuenta == chat.cliente.id %}
                    <h2>Chat de {{ chat.artista.nombre }}</h2>
                {% endif %}
            </div>
            {% include 'cabecera_chat.html'%}
        </div>
    </div>
    <div class="container-fluid p-0 alto-pantalla">
        <div class="border border-secondary-subtle rounded overflow-auto overflow-x-hidden pt-4 pb-4 mb-3 ms-5 me-5 caja-chat" id="chat-div">
            {% for mensaje in chat.mensajes %}
                {% include 'mensaje.html' %}
            {% endfor %}
        </div>
        
        <!-- EstadosComision.ARCHIVADA -->
        {% if chat.comision.estado.value == 5 %}
            <div class="text-center">
                {% if g.id_cuenta == chat.artista.id %}
                    <button class="btn btn-primary btn-lg">Ver arte</button>
                {% elif g.id_cuenta == chat.cliente.id%}
                    <button class="btn btn-primary btn-lg">Descargar arte</button>
                {% endif %}
            </div>
        {% else %}
            {% include 'barra_chat.html' %}
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
        <script src="{{ url_for('static', filename='../static/js/chat.js') }}"></script>
{% endblock %}

