<!-- Sección de Exhibidor de Arte -->
<section class="container-fluid">
    <div class="row">
        {% for servicio in servicios %}
            {% set usuario = servicio.artista %}
            {% if usuario.es_artista() %} <!--Falta ver si si hace bien el filtro-->
            <!-- Tarjeta de Servicio -->
            <div class="col-md-3 mb-4">
                {% include 'tarjeta_servicio.html'  %}
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Paginación -->
    {% include 'paginacion.html'  %}
</section>