{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row ">
            <div class="col-2">
                {% if g.id_cuenta == usuario.id %}
                    <div class="container text-center mb-4">
                        <span class="h3">Saldo: $</span>
                        <span class="h3 text-success">00</h3>
                        <span class="h5">00</span>
                        <div class="row mt-2">
                            <div class="col">
                                <button type="button" class="btn btn-success">Retirar</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% include 'tarjeta_artista.html' %}
            </div>
            <div class="col-10">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="tabPortafolio" data-bs-toggle="tab" data-bs-target="#tab-portafolio" type="button" role="tab" aria-controls="tab-portafolio" aria-selected="true">Portafolio</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tabServicios" data-bs-toggle="tab" data-bs-target="#tab-servicios" type="button" role="tab" aria-controls="tab-servicios" aria-selected="false">Servicios</button>
                    </li>
                    {% if es_cliente %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tabComisiones" data-bs-toggle="tab" data-bs-target="#tab-comisiones" type="button" role="tab" aria-controls="tab-comisiones" aria-selected="false">Comisiones</button>
                        </li>
                    {% endif %}
                    {% if es_artista %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tabPedidos" data-bs-toggle="tab" data-bs-target="#tab-pedidos" type="button" role="tab" aria-controls="tab-pedidos" aria-selected="false">Pedidos</button>
                        </li>
                    {% endif %}
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!-- Tab portafolio -->
                    {% include 'portafolio.html'%}
                    <!-- Tab servicios -->
                    {% include 'servicios.html' %}
                    <!-- Tab comisiones -->
                    {% include 'comisiones.html' %}
                    <!-- Tab pedidos -->
                    {% include 'pedidos.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}