<div class="tab-pane fade show active" id="tab-portafolio" role="tabpanel" aria-labelledby="tabPortafolio" tabindex="0">
    {% for fila in usuario.portafolio | batch(3) %}
        <div class="row">
            {% for i in fila %}
            <div class="col gy-4 text-center">
                <img src="{{ url_for('uploads', filename=i.ruta.0) }}" class="img-fluid">
                <h4>{{ i.titulo }}</h4>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
    {% if g.id_cuenta == usuario.id %}
        <div class="text-center mt-5">
            <button class="btn btn-primary btn-lg">Editar portafolio</button>
        </div>
    {% endif %}
</div>