<div class="tab-pane fade" id="tab-servicios" role="tabpanel" aria-labelledby="tabServicios" tabindex="0">
    <div class="container-fluid">
        {% for fila in usuario.servicios | batch(4) %}
                <div class="row border border-light-subtle mt-2">
                    {% for s in fila %}
                        {% set servicio = s %}
                        <div class="col-auto col-md">
                            {% include 'tarjeta_servicio.html' %}
                        </div>
                    {%endfor%}
                </div>
            </div>
        {% endfor %}
        {% if g.id_cuenta == usuario.id %}
            <div class="text-center mt-5">
                <button class="btn btn-primary btn-lg">Crear comision</button>
            </div>
        {% endif %}
    </div>
</div>