<div class="tab-pane fade" id="tab-servicios" role="tabpanel" aria-labelledby="tabServicios" tabindex="0">
    {% for fila in usuario.servicios | batch(2) %}
            <div class="row border border-light-subtle p-2 mt-2">
                {% for s in fila %}
                <div class="col gy-4">
                    <!--img src="{{ url_for('uploads', archivo=s.piezas_arte[0].ruta.0) }}" class="card-img-top"-->
                    <!-- {# include 'tarjeta_servicio.html' #} -->
                </div>
                {%endfor%}
            </div>
        </div>
    {% endfor %}
</div>